In [ ]:
import pandas as pd
import numpy as np

In [ ]:
chicago = pd.read_csv("/content/Chicago.csv")
new_orleans = pd.read_csv("/content/New_Orleans.csv")

In [ ]:
def basic_profile(df, name):
    print(f"\n--- {name} ---")
    print("Shape:", df.shape)
    print("\nData Types:\n", df.dtypes)
    print("\nMissing Values (%):\n", (df.isna().mean()*100).round(2))

basic_profile(chicago, "Chicago")
basic_profile(new_orleans, "New Orleans")

--- Chicago ---
Shape: (8663, 18)

Data Types:
 id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

Missing Values (%):
 id                                  0.00
name                                0.00
host_id                             0.00
host_name                           7.17
neighbourhood_group               100.00
neighbourhood                       0.00
latitude                            0.00
longitude                           0.00
room_type                           0.00
price                               9.64
minimum_nights                      0.00
number_of_reviews                   0.00
last_review                        19.45
reviews_per_month                  19.45
calculated_host_listings_count      0.00
availability_365                    0.00
number_of_reviews_ltm               0.00
license                            33.24
dtype: float64

--- New Orleans ---
Shape: (7444, 18)

Data Types:
 id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

Missing Values (%):
 id                                  0.00
name                                0.00
host_id                             0.00
host_name                           0.03
neighbourhood_group               100.00
neighbourhood                       0.00
latitude                            0.00
longitude                           0.00
room_type                           0.00
price                              16.27
minimum_nights                      0.00
number_of_reviews                   0.00
last_review                        17.33
reviews_per_month                  17.33
calculated_host_listings_count      0.00
availability_365                    0.00
number_of_reviews_ltm               0.00
license                            17.93
dtype: float64

In [ ]:
chicago["city"] = "Chicago"
new_orleans["city"] = "New Orleans"

df = pd.concat([chicago, new_orleans], ignore_index=True)

In [ ]:
df = df.drop(columns=["neighbourhood_group"])

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,city
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,119.0,3,257,2025-08-07,1.97,1,348,10,R17000015609,Chicago
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,89.0,2,595,2025-09-01,3.01,1,302,47,R24000114046,Chicago
2,10945,The Biddle House (#1),33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,203.0,4,129,2025-09-06,0.93,6,325,24,2209984,Chicago
3,12140,Lincoln Park Guest House,46734,Shar And Robert,Lincoln Park,41.923570,-87.649470,Private room,339.0,2,19,2025-09-07,0.15,1,156,3,2398451,Chicago
4,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,Logan Square,41.920226,-87.679613,Entire home/apt,258.0,2,265,2025-09-01,1.47,1,74,37,R24000113825,Chicago

In [ ]:
df.shape
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16107 entries, 0 to 16106
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              16107 non-null  int64
 1   name                            16107 non-null  object
 2   host_id                         16107 non-null  int64
 3   host_name                       15484 non-null  object
 4   neighbourhood                   16107 non-null  object
 5   latitude                        16107 non-null  float64
 6   longitude                       16107 non-null  float64
 7   room_type                       16107 non-null  object
 8   price                           14061 non-null  float64
 9   minimum_nights                  16107 non-null  int64
 10  number_of_reviews               16107 non-null  int64
 11  last_review                     13132 non-null  object
 12  reviews_per_month               13132 non-null  float64
 13  calculated_host_listings_count  16107 non-null  int64
 14  availability_365                16107 non-null  int64
 15  number_of_reviews_ltm           16107 non-null  int64
 16  license                         11892 non-null  object
 17  city                            16107 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 2.2+ MB

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,city
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,119.0,3,257,2025-08-07,1.97,1,348,10,R17000015609,Chicago
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,89.0,2,595,2025-09-01,3.01,1,302,47,R24000114046,Chicago
2,10945,The Biddle House (#1),33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,203.0,4,129,2025-09-06,0.93,6,325,24,2209984,Chicago
3,12140,Lincoln Park Guest House,46734,Shar And Robert,Lincoln Park,41.923570,-87.649470,Private room,339.0,2,19,2025-09-07,0.15,1,156,3,2398451,Chicago
4,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,Logan Square,41.920226,-87.679613,Entire home/apt,258.0,2,265,2025-09-01,1.47,1,74,37,R24000113825,Chicago

Duplicate Check

In [ ]:
df["id"].nunique(), df.shape[0]

(16107, 16107)

Reviews fill na with 0

In [ ]:
df["number_of_reviews"] = df["number_of_reviews"].fillna(0)
df["reviews_per_month"] = df["reviews_per_month"].fillna(0)

In [ ]:
df.isna().sum()

id                                   0
name                                 0
host_id                              0
host_name                          623
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             2046
minimum_nights                       0
number_of_reviews                    0
last_review                       2975
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           4215
city                                 0
dtype: int64

In [ ]:
df["host_name"] = df["host_name"].fillna("Unknown")

In [ ]:
# Drop rows with missing price
df = df.dropna(subset=["price"])

# Drop license column
df = df.drop(columns=["license"])

In [ ]:
df.isna().sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2478
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
city                                 0
dtype: int64

In [ ]:
df.shape

(14061, 17)

In [ ]:
df.to_csv("airbnb_clean_dataset.csv", index=False)